<% provide(:title, 'Home') %>
  <h1>Twitter-like App</h1>
  <p>
   This is the home page for the twitter like app based on the 
   <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.
  </p>
